# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\restart_inflearn\서버개발올인원패키지\library-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
